.syllabus-box{
	border: 5px ;
	height:370px;
	border-radius: 20px;
	background-color: #fff;
}
#syllabus{
	background-color:#F05F3F;
}
.syllabus-content{
	padding: 35px;
    margin: 20px;
}
#contact{
	background-color:#F05F3F;
}
a.contact_href{
	color:#333;
}
.bt{
	padding-top: 35px;
}